@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
$yellow: #ffd301;
$orange: #e7480f;

body {
    background-image: url("../images/bg.png");
}

.site {
    font-family: "Holtwood One SC", serif;
}

.text-logo {
    font-family: "Holtwood One SC", serif;
    color: $orange;
    text-shadow: 2px 2px $yellow;
    font-size: 50px;
    padding: 40px 0;
    text-align: center;

    .glyphicon {
        color: $yellow;
        text-shadow: none;
    }
}

.nav {
    margin-bottom: 40px;
}

.thumbnail img {
    background: $yellow;
}

.price {
    background: #5cb85c;
    box-shadow: 0 1px rgba($color: black, $alpha: 0.2);
    color: white;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;

    &::before {
        content: "";
        position: absolute;
        right: 1px;
        top: -8px;
        border: 4px solid transparent;
        border-bottom: 4px solid #4a934a;
        border-left: 4px solid #4a934a;
    }
}

.caption {
    > h4 {
        color: $orange;
        font-size: 18px;
    }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: $orange;
    outline: 2px dotted black;
}

.nav > li {
    margin-right: 15px;

    > a {
        color: #eee;
        font-size: 18px;
        text-shadow: 2px 2px #333;

        &:focus,
        &:hover {
            color: $orange;
            background: #eee;
            outline: 2px dotted black;
        }
    }
}

.btn-order {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: $orange;
    text-decoration: none;
    text-shadow: 2px 2px #333;

    &:hover,
    &:focus {
        color: white;
        background: #c13c0d;
    }
}

/*ADMIN*/

.admin {
    background: white;
    padding: 50px;
    border-radius: 10px;
}

.help-inline {
    color: red;
}
